@charset "UTF-8";
:root{
    --fonte-principal: Arial, Helvetica, sans-serif;
}
*{
    margin: 0;
    padding: 0;
}
html,body{
    background-color: black;
}
body{
    background: url(../imagens/fundo-madeira.jpg) no-repeat center;
    background-size: cover;
}
main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
section#telefone{
    min-height: 100vh;
    width: 310px;
    background: url(../imagens/frame-iphone.png);
    background-repeat: no-repeat;
}
iframe#tela{
    position: relative;
    top: 80px;
    left: 22px;
    width: 267px;
    height: 471px;
}
section#redes img{
    width: 50px;
    height: 50px;
    margin: 8px;
    border-radius: 50px;
    box-shadow: 3px 3px 6px black;
    display: flex;
    box-sizing: border-box;
}
section#redes img:hover{
    transition: 0.7s;
    opacity: 0.5;
    border: 1px solid white;
}

