@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
:root{
    --cor-fundo: rgb(252, 214, 125);
    --cor-nav: rgb(0, 0, 0);
    --cor-footer: rgb(0, 0, 0);
    --color-fonte1:rgb(255, 255, 255);
    --color-fonte2:rgb(0, 0, 0);
    --cor-fundo-imagens:rgba(0, 0, 0, 0.336);
    --fonte-padrao:"Sriracha",arial;
    --fonte2: Verdana, Geneva, Tahoma, sans-serif;
    --font-titulo: cursive;
}
*{
    margin: 0;
    padding: 0;
}
nav{
    background-color: var(--cor-nav);
}
nav p, nav h1, nav a{
    color: var(--color-fonte1);
    align-items: center;
    justify-content: center;
    display: flex;
}
nav h1{
    font: bold 8vw var(--font-titulo);
    font-variant: small-caps;
}
nav p{
    font-family: var(--fonte2);
    padding-bottom: 50px;
}
nav a{
    text-decoration: none;
    font-weight: bold;
}
nav a:hover{
    text-decoration: underline;
}
body{
    background-color: var(--cor-fundo);
}
main{
    font-family: var(--fonte-padrao);
}
section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
}
section p{
    max-width: 500px;
    max-height: 800px;
    font-size: 3.4vw;
}
#q1 p, #q2 p{
    background-color: var(--cor-fundo-imagens);
    color: var(--color-fonte1);
    padding: 10px;
    
}
#q1, #q2{
    background-position: right center;
    background-attachment: fixed;
    background-size: cover;
}
#q1{
    background-image: url(imagens/background001.jpg);
}
#q2{
    background-image: url(imagens/background002.jpg);
}
footer{
    background-color: var(--cor-footer);
    padding: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
}
footer p{
    color: var(--color-fonte1);
    font-family: var(--fonte2);
}
footer a{
    color: var(--color-fonte1);
    text-decoration: none;
    font-weight: bolder;
}
footer a:hover{
    text-decoration: underline;
}