@charset "UTF-8";
/*versão Mobile First*/

*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    height: 100vh;
}
body{
    background: black url(../imgs/back-phone.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}
main{
    background-color: rgba(255, 255, 255, 0.781);
    width: 90%;
    margin: auto;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
}
main h1{text-align: center;}
img{
    display: block;
    margin: auto;
}
img#phone{display: block;}
img#tablet{display: none;}
img#print{display: none;}
img#pc{display: none;}
img#tv{display: none;}