@charset "UTF-8";

/*
    Em HTML é id    = Em CSS é # (Só pode um elemento)
    Em HTML é class = Em CSS é . (Pode vários elementos)

*/
body{
    background-color: #89E1AB;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: #416B51;
}
#principal{/*pode colocar h1 na frente do #principal -> h1#principal*/
    text-align: center;
    background-color: #284232;
    color: white;
}
h2{
    color: #5A9470;
}
.basico{
    color: #5A9470;
}
.intermediario{
    color: #90945a;
}
.avancado{
    color: #945a5a;
}
.destaque{
    background-color: rgba(187, 187, 40, 0.322);
}